<h1>Webview#view</h1>
<script language="Javascript">
page_url = "<%= @page_url %>"
</script>
<script language="Javascript" src="/assets/page_location.js"></script>
<div style="width: 100px; float: right; clear: left">adasdas
asdasd
adasda
das
d
asd
asd
asd
asd
as
dasd
</div>
<div style="width: 500px"><%= @text %></div>